---
import Layout from "../layouts/pages.astro";
import "../base.css";
---

<Layout
  title="EmpowerMe Collective | Page Not Found"
  description="Page Not Found"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <header class="bg-[url('/images/cover-bg.webp')] bg-no-repeat bg-cover h-32"></header>
  <section class="py-24 px-24">
    <h1 class="text-4xl">Sorry, that page can't be found.</h1>
    <p class="mt-4"><a href="/" class="text-navprimary">Go to home page</a></p>
  </section>
</Layout>
