---
import Layout from "../layouts/pages.astro";
import "../base.css";
---

<Layout
  title="About Empower Me"
  description="About Empower Me"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <header
    class="flex flex-col justify-center text-primary h-screen bg-[url('/images/about-cover.jpg')] bg-no-repeat bg-cover py-8 px-4 md:p-16"
  >
    <h1
      class="font-montserratbold font-bold md:text-7xl text-3xl text-left text-primary md:px-36"
    >
      About us
    </h1>
    <span class="md:px-72 text-xl md:text-2xl font-monserrat leading-normal"
      >...and the Power of the Collective</span
    >
  </header>

  <main>
    <article>
      <h2></h2>
      <section
        class="flex flex-row flex-wrap-reverse py-8 justify-center items-center"
      >
        <section class="md:basis-1/2 flex flex-row md:justify-end justify-center">
          <img
            src="/images/manu.webp"
            decoding="async"
            loading="lazy"
            alt="Manuela Klevisser, founder of EmpowerMe Collective"
            class="md:size-72 size-48 p-5 border-primary border-2 rounded-full md:mr-32"
            title="Manuela Klevisser, founder of EmpowerMe Collective "
          />
        </section>
        <section class="md:basis-1/2 p-8 md:p-0">
          <p class="text-tenth font-hindmedium text-4xl md:w-96 ">
            Hello beautiful people!
          </p>

          <p class="text-tenth font-hindmedium text-4xl md:w-96 mb-8">
            My name is Manu.
          </p>

          <p class="font-hindlight md:w-96">
            I’m the founder of the EmpowerMe Collective. And yes, I am guilty! I
            am a repeated offender - this is not the first Collective!!!
          </p>
        </section>
      </section>

      <section
        class="flex flex-row flex-wrap justify-center items-center"
      >
        <section class="md:basis-1/2 flex flex-row flex-wrap justify-end md:px-16 px-8">
          <p class="mb-4 font-hindlight md:w-96">
            The first time it was after connecting with a person I met at a
            course. We clicked immediately and agreed to meet again over a
            coffee. Time passed by and when we did indeed meet, we had one of
            those beautifully deep conversations! We bounced off each other and
            totally lost track of time. One moment it was early afternoon and
            the next, it was getting darker and colder.
          </p>
          <p class="font-hindlight md:w-96">
            We both wondered why was it not possible to have such good
            conversations more often?
          </p>
        </section>
        <section class="md:basis-1/2 flex flex-row md:justify-start justify-center">
          <img
            src="/images/coffee2.webp"
            decoding="async"
            loading="lazy"
            alt="Manuela Klevisser"
            class="md:size-96 size-48 py-5 "
            title="EmpowerMe Collective Manuela Klevisser"
          />
        </section>
      </section>

      <section
        class="grid grid-flow-row md:grid-cols-2 md:gap-24 p-8 md:px-24 justify-center items-center bg-primary md:h-screen"
      >
        <img
          src="/images/women-celebrating.jpg"
          decoding="async"
          loading="lazy"
          alt="Manuela Klevisser"
          class="border-primary mx-auto md:py-0 py-8 md:order-none order-last"
          title="EmpowerMe Collective Manuela Klevisser"
        />

        <section>
          <p class="pb-4 pt-6 font-hindlight">
            …a little spark turned in our eyes…a cheeky smile on the face...
          </p>
          <p class="font-hindmedium text-five text-2xl">
            “What if we start a group and have more of these conversations on a
            regular basis?”
          </p>

          <p class="pt-3 font-hindlight">
            "Worst case scenario it will be the two of us again and we will have
            another good chat. It’s a total win-win, shall we?”
          </p>

          <p class="pt-5 font-hindlight">
            In the coming days and weeks we put together the concept, found a
            location and spread the word. We quickly realised that we were not
            the only ones wanting to skip small talk for greater connections.
          </p>

          <p class="pt-3 font-hindlight">
            The collective boomed and we open up additional groups. These went
            on for over 3 years. And some of us still meet today.
          </p>
        </section>
      </section>

      <section
        class="grid grid-flow-row grid-cols-1 gap-8 justify-center items-center text-tenth bg-[url('/images/usecase.jpeg')] bg-no-repeat bg-cover px-4 md:p-8 md:px-24 h-screen"
      >
        <section class="bg-primary/60 backdrop-blur-md rounded-md p-4 md:p-16">
          <p class="font-hindmedium mb-4 text-2xl md:text-3xl text-center">
            “The conversations, perspectives, and connections made were
            empowering and valuable. It was good for my soul knowing that I have
            a group who could offer me advice and perspective on potential
            challenges.
          </p>
          <p class="font-hindmedium mb-8 text-2xl md:text-3xl text-center">
            These connections / friendships will withstand the test of time.”
          </p>

          <img
            src="/images/cindy-teh.webp"
            decoding="async"
            loading="lazy"
            alt="cindy-teh"
            class="size-36 rounded-full mx-auto"
            title="EmpowerMe Collective cindy teh"
          />

          <p class="mt-4 font-hindlight text-center">Cindy Teh</p>
        </section>
      </section>

      <section
        class="bg-primary p-8 md:p-24 grid grid-flow-row grid-cols-1 md:grid-cols-2 md:gap-24 justify-center items-center"
      >
        <section>
          <p class="mb-2 font-hindlight">
            But little did I know that what I would discover next was what I
            call the <span class="text-five font-hindmedium text-lg"
              >Power of the Collective</span
            >.
          </p>
          <p class="mb-2 font-hindlight">
            These interactions, exchanges of learnings, experiences,
            reflections, from people I could relate to truly shook my world for
            the better.
          </p>
          <p class="mb-2">
            <ul class="font-hindlight my-4">
              <li class="mb-2">
                &#10004; I found limiting beliefs hiding in the shadows and
                keeping me small.
              </li>
              <li class="mb-2">
                &#10004; I found connections that are with me to this date and
                are an important part of my world.
              </li>
              <li class="mb-2">
                &#10004; I found an accelerated way of learning through
                generously shared tips and resources.
              </li>
            </ul>
          </p>
          <p class="font-hindlight">
            I grew. I thrived. I spread my wings beyond my wildest imagination.
            And I want the same for you!
          </p>
        </section>

        <img
          src="/images/power_of_the_collective.webp"
          decoding="async"
          loading="lazy"
          alt="power_of_the_collective"
          class="mx-auto md:pt-0 pt-8"
          title="EmpowerMe Collective"
        />
      </section>
      <section class="px-4 md:px-48 bg-tenth">
        <p class="font-hindmedium py-16 text-primary text-3xl">
          Empower Me is a collective for aspiring and new entrepreneurs who want
          to connect with people on a similar path, support each other and grow
          together.
        </p>
        <p class="font-hindmedium pb-16 mb-24 text-primary text-3xl">
          For those who believe that entrepreneurship is the path of a life
          lived with purpose and freedom creating impact for ourselves and
          others.
        </p>
      </section>
      <section
        class="bg-[url('/images/garden01.webp')] bg-no-repeat bg-cover h-screen flex justify-center items-center"
      >
        <article
          class="flex flex-col m-4 md:m-16 bg-primary/60 backdrop-blur-md rounded-md"
        >
          <p
            class="text-tenth pt-4 md:pt-16 font-hindmedium text-3xl md:text-4xl text-center"
          >
            Our vision:
          </p>
          <p
            class="text-tenth py-4 md:mx-24 md:pb-16 font-hindmedium text-3xl md:text-4xl text-center"
          >
            Empowering the Collective to live life at our own terms, reaching
            our full potential.
          </p>
        </article>
      </section>
      <section class="bg-tenth text-eleventh"></section>
      <section
        class="mx-8 md:mx-24 md:mt-16 grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-16 items-center"
      >
        <section class="pt-8 md:pt-0">
          <h2 class="font-hindmedium font-bold text-3xl mb-6 text-five">
            And what is my role?
          </h2>
          <p class="mb-4 font-hindlight">
            In the garden metaphor, I aspire to be your feathery companion for
            Manu means bird in Maori, bringing both a broad perspective and
            practical advice for success. I’m here to facilitate your journey
            and support you with my skills.
          </p>
          <p class="mb-4 font-hindlight">
            I am a Growth Ignitor, an avid learner and very passionate about
            self-improvement.
          </p>
          <p class="font-hindlight">
            Life offered me the opportunity to wear many meaningful hats
            allowing me to see the bigger picture and zoom into the practical.
          </p>
        </section>
        <img
          src="/images/hat.jpg"
          decoding="async"
          loading="lazy"
          alt="Manuela Klevisser"
          class="border-primary mx-auto md:px-24"
          title="EmpowerMe Collective Manuela Klevisser"
        />
      </section>
      <section class="mx-8 md:mx-24 md:mb-16">
        <p class="my-4 font-hindlight">Here are some of these hats:</p>
        <ul class="font-monserrat">
          <li class="mb-2 font-hindlight">
            &#10004; the funding wiz hat, raising almost $2million dollars to
            empower indigenous entrepreneurs.
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; the leadership hat, having multiple teams and team members
            to manage 250+ people in training.
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; the business developer hat, connecting to councils,
            chambers, ministries, Iwi, community organisations, amazing whanau
            within New Zealand and beyond to spark collaborations and do more
            together.
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; the organiser hat, organising 300+ events and courses.
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; the coach and facilitator hat, coaching, facilitating and
            delivering the “the Transformational Power of Habits” course to
            indigenous entrepreneurs on the Oceania DigitalX programme (check it
            out if you’re in Aussie as it’s a darn good one!)
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; the mindfulness hat, with vipassana, certifications in NLP
            and Naturopathy, hundreds of self-development books, amazing gurus,
            trainings, ceremonies, and life-changing experiences.
          </li>
          <li class="mb-2 font-hindlight">
            &#10004; I’m a proud mama, daughter, sister, partner, friend,
            colleague, neighbour. In all these roles we can make a huge
            difference!
          </li>
        </ul>
      </section>
      <section
        class="flex justify-center items-center bg-[url('/images/quote-about.png')] bg-no-repeat bg-cover h-screen"
      >
        <article
          class="md:mx-36 mx-4 py-4 px-4 md:px-16 bg-primary/60 backdrop-blur-md rounded-md"
        >
          <p
            class="text-tenth md:p-16 font-hindmedium text-2xl md:text-3xl leading-normal md:leading-relaxed"
          >
            Our promise to you is that EmpowerMe offers a pathway for you to
            connect and grow alongside fellow entrepreneurs and to further up
            your business through regular meetings, shared tools, resources and
            access to coaching.
          </p>
        </article>
      </section>
      <section class="m-8 md:m-24 text-center">
        <p class="font-hindmedium font-bold text-3xl mb-6 text-five">
          Let’s live life on our own terms, whatever that means for you. Shall
          we?!?
        </p>
        <p class="mb-6">
          <a
            href="https://www.sodainc.com/news/empower-me"
            target="_blank"
            rel="noopener noreferrer"
            class="underline decoration-solid underline-offset-4"
            >Shout out to SODA Inc. who summed it all up in this beautiful
            article.</a
          >
        </p>
        <p>
          Want to learn more? <a
            href="mailto:connect@empowermecollective.com "
            target="_blank"
            class="underline decoration-solid underline-offset-4"
          >
            Email us</a
          > or <a
            href="https://calendly.com/connect-4xra"
            target="_blank"
            class="underline decoration-solid underline-offset-4"
            >book a 15-min chat</a
          >.
        </p>
      </section>
    </article>
  </main>
</Layout>
