---
import Layout from "../layouts/pages.astro";
---

<Layout
  title="MasterClass"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <header
    class="flex flex-col justify-center items-center text-primary bg-[url('/images/quote2-bg.png')] bg-no-repeat bg-cover p-16"
  >
    <h1 class="font-montserratbold font-bold text-3xl md:text-5xl md:pt-32 text-center">
      GROWING OUR OWN BUSINESS (cross) GARDEN AND A LIFE WE LOVE
    </h1>
    <p class="md:px-32 py-8 text-center ">
      A Collective on the same journey sharing, learning, growing togethero
      becoming the version of yourself aligned with your desired outcomes.
    </p>
    <button class="btn-tertiary">JOIN THE WAITING LIST</button>
  </header>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
  >
    <section class="md:px-8">
      <p class="font-hindlight pb-4 leading-loose">
        The choices we make and the path we create for ourselves are heavily
        influenced by the environment we come from, which also dictates our
        beliefs and the self-limitations we impose on ourselves. The ‘stories we
        tell ourselves’ offer beliefs that can mask our true potential and
        authentic selves and hinder our progress making us play small.
      </p>

      <p class="font-hindlight pb-4 leading-loose">
        The EmpowerMe Garden bring the collective together to identify some of
        the inner blocks that have been holding them back in starting/running a
        successful business and making those invisible stories visible. It then
        leverages the transformational power of habits to become the version of
        ourselves that will take participants to their desired outcomes.
      </p>
    </section>
    <section>
      <img src="/images/sketchbook.png" alt="" />
    </section>
  </section>

  <section
    class="flex flex-col justify-center items-center text-secondary bg-[url('/images/quote2-bg.png')] bg-no-repeat bg-cover p-8 md:p-24"
  >
    <p class="font-montserratbold font-bold text-2xl mb-4 leading-loose">
      “Definitely, the support has an amazing impact. [...] People around you
      invest in you and say I support your idea [...] It's I don't know a
      mixture of 'they trust me that I can do this!' So, the support is
      encouragement and also a nice push behind you :)
    </p>
    <p class=" mb-8">- Sevgi Ikinci</p>

    <img src="images/flower.webp" alt="" class="rounded-full size-48" />
  </section>

  <section class="p-8 md:p-24 bg-primary text-five">
    <h2 class="font-montserratbold font-bold text-4xl mb-6">
      ABOUT EMPOWER ME GARDEN
    </h2>
    <p class="font-hindlight pb-8 leading-loose">
      The best part of any coaching is the tribe of fellow travellers you meet,
      the deep conversations you have and the strong connections you make. Here
      we've extrapolated that part without the significant financial or time
      commitment and brought in only benefits.
    </p>
    <ul class="grid grid-row md:grid-cols-3 gap-6">
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Co-creation
        </h3><p class="font-hindlight pb-4 leading-loose">
          We are in it together - no one person is dictating the way! The
          Collective shapes each session for our own voice and experience are
          our unique contributions. Together we bring the various pieces of the
          puzzle together!
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Deep conversations
        </h3><p class="font-hindlight pb-4 leading-loose">
          Are you tired of small talk? Then this is the place for you. In the
          EmpowerMe Garden we thrive by sharing perspectives, learnings,
          approaches and solultions. We go Further Faster otgether!
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Make the invisible visible
        </h3><p class="font-hindlight pb-4 leading-loose">
          The ‘stories we tell ourselves’ offer beliefs that can mask our true
          potential and authentic selves and hinder our progress making us play
          small. We bring these insidious stories visible and work on releasing
          and replacing them with empowering ones.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Relatable role models us(the collective)!
        </h3><p class="font-hindlight pb-4 leading-loose">
          When a story comes from people I can relate to, it lands way more
          strongly. Suddenly it is not something that an incredible coach did or
          said to do, making me question whether I have it in me...and possible
          confirming those stories are true.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Sense of belonging and accountability
        </h3><p class="font-hindlight pb-4 leading-loose">
          Each session is taking us one step closer to leading our life at our
          own terms. Through reflections, tools and resources we’ll empower the
          version of ourselves that is aligned with our desired outcomes. An
          environment that support this journey is key to success.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-3xl mb-4">
          Feeling heard
        </h3><p class="font-hindlight pb-4 leading-loose">
          Do you feel sometimes like a lonely worl? Do you feel that your loved
          ones are just on a different path or phase in life and not getting
          your struggles, challenges and stories? Well, you’re not alone. This
          is the place for you to be heard and understood as we’re all on
          similar paths and your story will add on every one else!!!
        </p>
      </li>
    </ul>
    <p class="font-hindlight pb-4 leading-loose">
      Besides having great conversations, you will:
    </p>
    <ul>
      <li>
        <p class="font-hindlight pb-4 leading-loose">
          Identify your Blocks: Explore inner blocks connected to specific
          business challenges such as pricing, procrastination etc.
        </p>
      </li>
      <li>
        <p class="font-hindlight pb-4 leading-loose">
          Explore EmpowerMe Habits: Identify habits that will bring up the
          version of yourself aligned with overcoming the discussed challenge
          using a set of strategies most aligned and applicable.
        </p>
      </li>
      <li>
        <p class="font-hindlight pb-4 leading-loose">
          Have a supportive accountability group to support you and be part of a
          curated environment that makes those habits stick more easily.
        </p>
      </li>
    </ul>
  </section>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
  >
    <section class="md:px-8">
      <h2 class="font-montserratbold font-bold text-4xl mb-4">HOW TO JOIN?</h2>
      <p class="font-hindlight pb-6 leading-loose">
        The first steps is to register in the waiting list. By answering few
        simple questions, we will be able to match you with the best upcoming
        series of meetings (cross) EmpowerMe Gardens. This will define the stage
        you’re in as well as some logistical questions such as frequency or
        location/online.
      </p>
      <p class="font-hindlight pb-6">
        Each session will focus around a micro-learning or better said a flower
        we will plant together in our gardens!
      </p>
      <button>JOIN WAITING LIST NOW</button>
    </section>
    <section>
      <img src="/images/sketchbook.png" alt="" />
    </section>
  </section>
</Layout>
