---
import Layout from "../layouts/pages.astro";
import QnACollection from "../components/QnACollection.astro";
---

<Layout
  title="EmpowerMe Collective | Collective"
  description="A Collective on the same journey sharing, learning, growing togethero becoming the version of yourself aligned with your desired outcomes."
  pubDate={new Date("September 06 2024")}
  heroImage="/images/miniature.png"
>
  <header
    class="flex flex-col justify-center items-center text-primary h-screen bg-[url('/images/collective.jpg')] bg-no-repeat bg-cover py-8 px-4 md:p-16"
  >
    <section
      class="flex flex-col p-4 md:m-24 md:p-12 bg-primary/30 backdrop-blur-md rounded-md"
    >
      <h1
        class="font-montserratbold font-bold md:text-7xl text-3xl text-center text-tenth md:px-36 "
      >
        Growing your business and a life you love!
      </h1>
      <p
        class="md:px-32 py-8 text-center text-xl md:text-2xl text-tenth font-monserrat leading-normal"
      >
        A Collective on the same journey sharing, learning, growing together
      </p>

      <a
        href="https://forms.gle/dyYRrcgCU3TPL3tb8"
        target="_blank"
        class="btn-tertiary mx-auto">JOIN THE WAITING LIST</a
      >
    </section>
  </header>

  <section
    class="flex flex-col items-center justify-center bg-primary p-4 md:p-16"
  >
    <section
      class="grid grid-flow-row md:grid-cols-2 font-light md:gap-12 w-full text-five md:w-2/4"
    >
      <p class="flex flex-row font-hindlight pb-4 leading-relaxed text-tenth">
        The choices we make and the path we create for ourselves are heavily
        influenced by the environment we come from, which also dictates our
        beliefs and the self-limitations we impose on ourselves. The ‘stories we
        tell ourselves’ offer beliefs that can mask our true potential and
        authentic selves and hinder our progress making us play small.
      </p>

      <p class="font-hindlight pb-4 leading-relaxed text-tenth">
        The EmpowerMe Garden bring the collective together to identify some of
        the inner blocks that have been holding them back in starting/running a
        successful business and making those invisible stories visible. It then
        leverages the transformational power of habits to become the version of
        ourselves that will take participants to their desired outcomes.
      </p>
    </section>
  </section>

  <section class="bg-gradient-to-b from-[#59A9BF] to-secondary p-4 md:py-36 md:px-48">
    <section
      class="grid grid-flow-row md:grid-cols-2 gap-8 items-center justify-center"
    >
      <section class="">
        <img src="/images/women.png" alt="" class="size-5/6 mx-auto" />
      </section>

      <section class="text-primary">
        <h2 class="font-montserratbold md:text-5xl text-3xl pb-4">
          Why the Collective?
        </h2>
        <p class="font-hindlight pb-4">
          For the simple desire for real conversations and  connecting with fellow entrepreneurs that are on the same journey!
          Strengthening a growth mindset will help us be better people, run better businesses and live better lives.
        </p><p class="font-hindlight pb-8">
          Your inner blocks play a part in the way you are and what you do (or don’t do), and therefore the way you run your business. It can influence the decisions you make  and play a major part in the consistency or inconsistencies of your income levels, fast-tracking or slowing your business growth, shaping your efficiency and use of resources and time. 
        </p>
        <a
          href="https://forms.gle/dyYRrcgCU3TPL3tb8"
          target="_blank"
          class="btn-tertiary mx-auto">JOIN THE WAITING LIST</a
        >
      </section>
    </section>
  </section>

  <section class="p-8 md:p-24 bg-primary text-five">
    <h2 class="font-montserratbold font-bold md:text-5xl text-3xl mb-6">
      About the EmpowerMe Collective
    </h2>
    <p class="font-hindlight pb-8">
      The best part of any coaching is the tribe of fellow travellers you meet,
      the deep conversations you have and the strong connections you make. Here
      we've extrapolated that part without the significant financial or time
      commitment and brought in only benefits.
    </p>
    <ul class="grid grid-row md:grid-cols-3 md:gap-16">
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Co-creation
        </h3><p class="font-hindlight pb-4">
          We are in it together - no one person is dictating the way! The
          Collective shapes each session for our own voice and experience are
          our unique contributions. Together we bring the various pieces of the
          puzzle together!
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Deep conversations
        </h3><p class="font-hindlight pb-4">
          Are you tired of small talk? Then this is the place for you. In the
          EmpowerMe Collective we thrive by sharing perspectives, learnings,
          approaches and solultions. We go Further Faster otgether!
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Make the invisible visible
        </h3><p class="font-hindlight pb-4">
          The ‘stories we tell ourselves’ offer beliefs that can mask our true
          potential and authentic selves and hinder our progress making us play
          small. We bring these insidious stories visible and work on releasing
          and replacing them with empowering ones.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Relatable role models us (the Collective)!
        </h3><p class="font-hindlight pb-4">
          When a story comes from people I can relate to, it lands way more
          strongly. Suddenly it is not something that an incredible coach did or
          said to do, making me question whether I have it in me...and possible
          confirming those stories are true.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Sense of belonging and accountability
        </h3><p class="font-hindlight pb-4">
          Each session is taking us one step closer to leading our life at our
          own terms. Through reflections, tools and resources we’ll empower the
          version of ourselves that is aligned with our desired outcomes. An
          environment that support this journey is key to success.
        </p>
      </li>
      <li>
        <h3 class="font-montserratbold font-bold text-2xl mb-4">
          Feeling heard
        </h3><p class="font-hindlight pb-4">
          Do you feel sometimes like a lonely wolf? Do you feel that your loved
          ones are just on a different path or phase in life and not getting
          your struggles, challenges and stories? Well, you’re not alone. This
          is the place for you to be heard and understood as we’re all on
          similar paths and your story will add on every one else!!!
        </p>
      </li>
    </ul>
  </section>

  <section
    class="flex flex-col justify-center items-center text-primary bg-tenth/80 backdrop-blur-md   p-8 md:p-24"
  >
    <p
      class="font-montserrat font-bold text-2xl md:text-3xl mb-4 md:mx-24 md:leading-relaxed text-center"
    >
      "Manu understands the balance between accomplishing our professional goals
      while maintaining time for emotional, social, physical and spiritual
      wellness - so often overlooked in traditional patriarchal approaches to
      success."
    </p>
    <div class="flex flex-col items-center mt-6 gap-4">
      <div>
        <img
          src="/images/jontel.jpg"
          alt="EmpowerMe Collective - Sevgi"
          class="rounded-full size-24"
          decoding="async"
          loading="lazy"
          title="EmpowerMe Collective testimonies - Sevgi"
        />
      </div>
      <div class="font-montserrat">Jontel</div>
    </div>
  </section>

  <section>
    <h2 class="md:text-5xl text-3xl font-montserrat font-bold  px-16 mt-16 leading-loose text-tenth">
      Connect, share and...
    </h2>

    <section class="py-8">
      <ul class="grid grid-flow-row md:grid-cols-3 gap-8 px-16">
        <li>
          <img src="/images/flowershadow.jpeg" alt="" class="" />
          <h3 class="font-bold pt-4 text-2xl text-tenth">Identify your Blocks</h3>
          <p class="font-hindlight py-4 leading-loose text-tenth">
            Explore inner blocks connected to specific business challenges such
            as pricing, procrastination impostor syndrome etc.
          </p>
        </li>
        <li>
          <img src="/images/smile-woman.jpeg" alt="" />
          <h3 class="font-bold pt-4 text-2xl text-tenth">Form EmpowerMe Habits</h3>
          <p class="font-hindlight py-4 leading-loose text-tenth">
            Identify habits that will bring up the version of yourself aligned
            with your desired outcomes and smash those inner blocks!
          </p>
        </li>
        <li>
          <img src="/images/conversation-women.jpeg" alt="" />
          <h3 class="font-bold pt-4 text-2xl text-tenth">Feel the Power of the Collective</h3>
          <p class="font-hindlight py-4 leading-loose text-tenth">
            Have a supportive accountability group to support you and be part of
            a curated environment that makes those habits stick more easily.
          </p>
        </li>
      </ul>
    </section>
  </section>

  <section
    class="bg-[url(/images/quota-bg-join.jpeg)] bg-no-repeat bg-cover text-five pb-8"
  >
    <section
      class="flex flex-row flex-wrap md:flex-nowrap md:px-36 md:py-12 p-4 md:gap-16 items-center justify-items-center"
    >
      <article class="md:p-24 bg-primary/30 backdrop-blur-sm p-4">
        <h2 class="font-montserratbold font-bold md:text-5xl text-3xl mb-4">
          How to join?
        </h2>
        <p class="font-hindlight pb-6 ">
          The first steps is to register in the waiting list. Then, when ready to join the Collective, we’ll match you with the best upcoming series of meetings. We will connect over the stage you’re in as well as some logistical questions such as frequency or location, whether in person or online.
        </p>
        <p class="font-hindlight pb-6">
          Each session will focus around a micro-learning - a flower we will plant together in our gardens!
        </p>
        <a
          href="https://forms.gle/dyYRrcgCU3TPL3tb8"
          target="_blank"
          class="btn-primary mx-auto">JOIN THE WAITING LIST</a
        >
      </article>
      <section>
        <img src="/images/flowers-coffee.jpeg" alt="" class="" />
      </section>
    </section>
    <section class="flex flex-row items-center justify-center text-secondary">
      <p class="font-montserrat font-bold tracking-wide text-center py-4 px-8">
        Want to learn more? <a
          href="mailto:connect@empowermecollective.com "
          target="_blank"
          class="underline decoration-solid underline-offset-4"
        >
          Email us</a
        > or <a
          href="https://calendly.com/connect-4xra"
          target="_blank"
          class="underline decoration-solid underline-offset-4"
          >book a 15-min chat</a
        >.
      </p>
    </section>
  </section>
  <QnACollection />
</Layout>
