---
import Layout from "../layouts/golive.astro";
import QnAgolive from "../components/QnAgolive.astro";
import "../base.css";
---

<Layout
  title="EmpowerMe Collective LIVE"
  description="The EmpowerMe Collective offers a new way to connect with your audience and drive sales: we take you LIVE!"
  pubDate={new Date("April 13 2025")}
  heroImage="/images/miniature.png" 
>
  <header
    class="flex flex-col justify-end text-primary min-h-screen bg-[url('/images/golive.jpeg')] bg-no-repeat bg-center bg-cover py-8 px-4 md:p-16"
  >
    <section class="flex flex-col justify-center text-center">
      <h1 class="font-montserratbold font-bold md:text-7xl text-3xl px-4 mb-4">
        Ready to Go Live and Grow?
      </h1>
      <p>
        Don't let your business remain a hidden gem. Take the first step towards
        amplified visibility and increased sales.
      </p>
    </section>
  </header>

  <section class="px-8 py-16 bg-tenth text-primary">
    <div class="font-montserratbold text-center text-lg md:w-1/2 mx-auto">
      <p class="">
        In today's fast-paced digital world, it's tougher than ever for
        businesses to cut through the noise, tell their unique story, and keep
        up with the latest marketing trends. Don't get left behind.
      </p>
      <p class="my-6">
        The EmpowerMe Collective offers a new way to connect with your audience
        and drive sales: we take you LIVE!
      </p>
      <div class="">
        <button class="btn-primary">LET’S HAVE A QUICK CALL</button>
      </div>
    </div>
  </section>

  <section
    class="text-secondary bg-primary rounded-md px-8 py-16 md:p-16 grid grid-flow-row md:grid-cols-2 md:gap-8 items-center justify-items-center"
  >
    <img
      src="/images/laptop-coffee.webp"
      alt="EmpowerMe Collective Flower"
      class="rounded-md size-64 mx-auto"
      decoding="async"
      loading="lazy"
      title="Empowerme Collective flower"
    />

    <div>
      <p class="font-hindmedium text-xl my-4 font-bold">Are you...</p>
      <p class="mb-2">
        Feeling like your message is getting lost in the digital crowd?
      </p>
      <p class="mb-2">
        Finding it hard to authentically connect with customers and share your
        unique value?
      </p>
      <p class="mb-2">
        Feeling overwhelmed by the ever-evolving landscape of marketing and
        technology?
      </p>
      <p class="mb-2">
        Knowing you have more to offer but struggling to reach the right
        audience and convert interest into sales?
      </p>

      <p class="font-hindmedium">LET’S HAVE A QUICK CALL</p>
    </div>
  </section>

  <section class="px-8 py-16 md:p-16 bg-tenth text-primary">
    <p class="font-montserratbold text-center text-lg md:w-1/2 mx-auto">
      "Attention is the oxygen of today. Live shopping is a powerful new way to
      capture and convert that attention directly into added visibility and
      sales."
    </p>
    <p class="my-4 text-center text-base md:w-1/2 mx-auto">
      Inspired by Gary Vaynerchuk's focus on attention.
    </p>
  </section>

  <section
    class="md:h-screen flex flex-col justify-center align-middle bg-primary p-8 md:p-16"
  >
    <h1 class="h1">EmpowerMe LIVE: Your Stage to Shine!</h1>
    <p class="my-8 mb-4">
      A new offering amplifying your business by showcasing it in a fun,
      engaging, and live online environment. Think of it as your virtual stage
      to connect directly with potential customers, tell your story in your way,
      in real-time, and demonstrate the value of your products or services.
    </p>

    <ul class="grid grid-flow-row md:grid-cols-3 gap-8">
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Live Showcases" title="Live Showcases" />
          <h2 class="h2">Live Showcases:</h2>
        </div>
        <p>
          We create dynamic and entertaining live streams featuring your
          business. This could include product demonstrations, behind-the-scenes
          glimpses, interviews, Q&A sessions, special offers, and more.
        </p>
      </li>
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Engaging Format" title="Engaging Format" />
          <h2 class="h2">Engaging Format:</h2>
        </div>
        <p>
          We focus on creating an interactive and enjoyable tailored experience
          for viewers, encouraging participation and building excitement around
          your brand.
        </p>
      </li>
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Broad Reach" title="Broad Reach" />
          <h2 class="h2">Broad Reach:</h2>
        </div>
        <p>
          We leverage our network and marketing to bring new eyes to your live
          showcases, expanding your potential customer base.
        </p>
      </li>
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Bridge the tech gap" title="Bridge the tech gap" />
          <h2 class="h2">Bridge the tech gap:</h2>
        </div>
        <p>
          We handle the technical aspects of producing and promoting the live
          streams, making it easy for your businesses to leverage this powerful
          medium without needing in-house expertise.
        </p>
      </li>
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Driving sales" title="Driving sales" />
          <h2 class="h2">Driving sales:</h2>
        </div>
        <p>
          The ultimate goal is to drive conversions. Our live showcases will
          incorporate calls to action, special offers, and direct pathways for
          viewers to become customers.
        </p>
      </li>
      <li>
        <div class="flex gap-2 mb-2">
          <img src="/images/information.svg" width="20" alt="Amplifying Local Gems" title="Amplifying Local Gems" />
          <h2 class="h2">Amplifying Local Gems:</h2>
        </div>
        <p>
          Our passion is to shine a spotlight on the unique and amazing local
          businesses within our community, connecting you with a broader
          audience.
        </p>
      </li>
    </ul>
  </section>

  <section class="px-8 py-16 md:p-16">
    <h2 class="h1">The Best Part? It's Commission-Only!</h2>
    <p class="my-4">
      That's right. We operate on a "no sale, no fee" basis, aligning our
      success directly with yours.
    </p>
    <p class="my-4">
      We believe in the power of our service. You only pay a commission on the
      sales generated through our live showcases and referral links. No upfront
      fees, no risk – just the opportunity to gain visibility and drive revenue.
      No sale, no fee – only new eyes on your product and story.
    </p>
  </section>

  <section
    class="px-8 py-16 md:p-16 bg-gradient-to-b from-[#69A4B7] to-[#EF9A75]"
  >
    <h2 class="h1 text-primary mb-8">
      Unlocking new ways to connect with your audience...
    </h2>
    <ul class="grid grid-flow-row md:grid-cols-3 gap-4 md:gap-8">
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Increased Visibility:</h3>
        <p>
          Reach a wider audience and get your business seen by potential
          customers you might not otherwise connect with.
        </p>
      </li>
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Authentic Storytelling:</h3>
        <p>
          Share your passion and unique story in a genuine and engaging live
          format, building trust and connection.
        </p>
      </li>
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Real-Time Engagement:</h3>
        <p>
          Interact directly with your audience, answer questions, and build
          relationships in real-time.
        </p>
      </li>
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Drive Sales & Revenue:</h3>
        <p>
          Convert viewers into customers through compelling live demonstrations
          and exclusive offers
        </p>
      </li>
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Stay Ahead of the Curve:</h3>
        <p>
          Embrace a cutting-edge marketing approach that leverages the power of
          live video.
        </p>
      </li>
      <li class="text-tenth bg-primary/40 backdrop-blur-md p-4 rounded-md">
        <h3 class="font-bold">Risk-Free Opportunity:</h3>
        <p>
          Our commission-only model means you only pay when we deliver results.
        </p>
      </li>
    </ul>
  </section>

  <section class="text-secondary bg-primary text-center py-16">
    <article
      class="md:h-screen grid grid-flow-row md:grid-cols-2 md:gap-8 align-middle justify-center items-center justify-items-center md:py-24 md:px-36"
    >
      <section class=" ">
        <h2 class="h1">Go LIVE. Get Seen.</h2>
        <p class="my-8">
          During your free, no-obligation call, we'll discuss your business,
          understand your goals, and explain exactly how going LIVE can work for
          you. Talk to Manu today.
        </p>
        <button class="btn-primary"> BOOK YOUR CALL NOW!</button>
      </section>
      <img
        src="/images/manu.webp"
        alt="Manu"
        title="Manu"
        class="md:size-96 size-48 p-5 border-primary border-2 rounded-full"
      />
    </article>
  </section>

  <section class="px-8 py-16 text-primary bg-secondary text-center md:p-16">
    <p class="font-montserratbold text-center text-lg md:w-1/2 mx-auto">
      “Visibility is the new currency. If your story isn’t seen, it won’t be
      sold.”
    </p>
    <p class="my-4 text-center text-base md:w-1/2 mx-auto">
      — The EmpowerMe Live Team
    </p>
  </section>

  <QnAgolive />
</Layout>
