---
import Cover from "../components/Cover.astro";
import QnA from "../components/QnA.astro";
import Collaboration from "../components/collaboration.astro";
import Layout from "../layouts/pages.astro";

 
---

<Layout
  title="EmpowerMe Collective"
  description="A community of entrepreneurs tackling the challenges of growing a business by overcoming our inner blocks, working on our mindset and becoming the version of ourselves most aligned with our desired outcomes."
  pubDate={new Date("September 06 2024")}
  heroImage="/images/miniature.png"
>
  <Cover />

  <section
    class="flex flex-col gap-6 items-center justify-center bg-primary text-five py-24 px-4"
  >
    <h2 class="font-montserratbold md:text-5xl text-3xl md:w-1/3 text-center">
      Discover the Power of the Collective
    </h2>
    <p class="font-hindlight md:w-1/3 leading-8 text-center">
      A community of entrepreneurs  embracing Active Collaboration for mutual growth. What opportunities can we enable by connecting, aligning and amplifying each other’s business?
    </p>

    <button class="btn-primary klaviyo_form_trigger">Connect and grow</button>
  </section>


<section
  class="grid grid-flow-row md:grid-cols-2 items-start bg-[url('/images/flowers.webp')] bg-no-repeat bg-cover text-primary md:p-20"
>
  <section class="m-8 md:p-16 p-8 bg-primary/30 backdrop-blur-md">
    <h3 class="font-monserratbold font-bold text-5xl mb-6">What If..</h3>
    <p class="leading-relaxed">
      Running a business by yourself is like growing a beautiful flower. There’s so much to be proud of yet standing alone, makes you  more vulnerable and exposed to the weather and growing is far more difficult than when teaming up.
    </p> 
  </section>
  <section class="md:mt-32 m-8 md:p-16 p-8 bg-primary/30 backdrop-blur-md">
    <h3 class="font-monserrat text-3xl mb-6">
      The Power of the Collective is the key.
    </h3>
    <p class="leading-relaxed mb-6">
      Whether you're an aspiring entrepreneur or running a new or existing business, we’re a collective on a shared journey - growing a business doing what we love and doing so at our own terms. 
    </p>
    <p class="leading-relaxed mb-6">
      By leveraging active collaboration we ignite mutual growth amplifying one another.
    </p>
    
    <button class="btn-secondary klaviyo_form_trigger">Connect and grow</button> 
     
  </section>
</section>

<section class="m-12 md:m-24 gap-6 text-five">
  <header class="p-8 gap-6 justify-items-center text-center">
    <h2 class="font-montserratbold text-5xl">Steps to Active Collaboration:</h2>
  </header>
  <ul class="grid grid-flow-row md:grid-cols-3 gap-6 mb-6">
    <li class="p-4">
      <img
        src="/images/women.png"
        alt="EmpowerMe Collective woman"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective woman"
      />
      <h3 class="font-bold font-hindmedium text-2xl my-4">
        Connecting with other entrepreneurs.
      </h3>
      <p class="font-hindlight mb-4 font-light">
        By joining the EmpowerMe Collective you become part of a community of entrepreneurs open to exploring new opportunities of growth.
      </p>
      <p class="font-hindlight font-light">
        This is a safe space to identify alignment, shared audiences, work on a common goals and test the collaboration,  minimising risk and maximising growth.
      </p>
    </li>
    <li class="p-4">
      <img
        src="/images/road.webp"
        alt="EmpowerMe worker"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective worker"
      />
      <h3 class="font-bold font-hindmedium text-2xl my-4">
        Aligning shared goals.
      </h3>
      <p class="font-hindlight mb-4 font-light">
        The goal of increasing your business visibility and sales, identifying new opportunities and/or lowering expenses, are just some of the interest businesses share. By joining forces we can achieve these in new ways.
      </p>
      <p class="font-hindlight font-light">
        With Active collaboration we’re working on aligned goals, creating mighty connections all while growing your business.
      </p>
    </li>
    <li class="p-4">
      <img
        src="/images/woman-laptop.webp"
        alt="EmpowerMe Collective on the road"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective road"
      />
      <h3 class="font-bold font-hindmedium text-2xl my-4">
        Amplifying impact.
      </h3>
      <p class="font-hindlight mb-4 font-light">
        The collective enables the perfect sandpit to test and refine offers, reach wider audiences and growing your business while connecting with aligned entrepreneurs and exploring new shared opportunities and avenues.
      </p>
      <p class="font-hindlight mb-4 font-light">
        Collaboration becomes a practical and easy catalyst for opportunities and growth.  
      </p>
    </li>
  </ul>
  <div class="flex flex-col items-center"> 
    <button class="btn-primary klaviyo_form_trigger">Connect and grow</button> 
  </div>
</section>

<section
  class="py-16 md:px-48 px-8 gap-6 justify-items-center text-center bg-[url('/images/quote-bg.png')] bg-no-repeat bg-cover
       rounded-lg"
>
  <article class="md:p-16 p-8 w-full bg-primary/30 backdrop-blur-sm">
    <h3 class="font-montserratbold text-3xl mb-4 text-five">
      “One piece of logs creates a small fire.
Add just a few more pieces to blast an immense bonfire.”
    </h3>
    <p class="font-hindmedium md:px-44 leading-8 text-five">
      Jon Kwon
    </p>
  </article>
</section>

<section
  class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
>
  <div class="md:px-8">
    <h2 class="font-montserratbold font-bold text-5xl mb-4">
      This Collective is for you if...
    </h2>
    <ul class="font-hindlight mb-4 pl-6 leading-8 list-none">
      <li class="flex flex-row items-top">
        <div class="bg-five size-4 mr-2 mt-2 rounded-sm">
          <img src="/images/check.svg" alt="" />
        </div>
        <div>You’re starting out or wanting to grow your business.</div>
      </li>
      <li class="flex flex-row items-top">
        <div class="bg-five size-4 mr-2 mt-2 rounded-sm">
          <img src="/images/check.svg" alt="" />
        </div>
        <div>You’re validating and refining your offer and customer journey.</div>
      </li>
      <li class="flex flex-row items-top">
        <div class="bg-five size-4 mr-2 mt-2 rounded-sm">
          <img src="/images/check.svg" alt="" />
        </div><div>You seek ways to new growth and to new opportunities.</div>
      </li>
      <li class="flex flex-row items-top">
        <div class="bg-five size-4 mr-2 mt-2 rounded-sm">
          <img src="/images/check.svg" alt="" />
        </div><div>You want to reach wider audiences and boost momentum.</div>
      </li>
      <li class="flex flex-row items-top">
        <div class="bg-five size-4 mr-2 mt-2 rounded-sm">
          <img src="/images/check.svg" alt="" />
        </div><div>
          You’re happy to support other entrepreneurs in their journey.
        </div>
      </li>
    </ul>
    <section
      class="flex flex-row items-start gap-4 text-primary bg-five p-4 rounded-lg"
    >
      <img src="images/info.svg" alt="" />
      <section>
        <p class="font-hindmedium font-bold">Disclaimer</p>
        <p class="font-hindlight">
          This is not for you if you believe that supporting another entrepreneur takes something away from you.
        </p>
      </section>
    </section>
  </div>
  <div class="flex flex-col gap-4">
    <img
      src="/images/couple1.webp"
      alt="Collective women"
      class="rounded-3xl h-44"
      decoding="async"
      loading="lazy"
      title="Empowerme Collective couple"
    />
    <img
      src="/images/couple2.webp"
      alt="Collective woman"
      class="rounded-3xl h-44"
      decoding="async"
      loading="lazy"
      title="Empowerme Collective couple"
    />
  </div>
</section>

<section class="bg-primary text-twelve md:p-24 p-4">
  <h2 class="font-montserratbold text-5xl font-bold">Activate your power, 
    amplify others.</h2>
  <h3 class="font-hindlight mt-4">Begin your Journey and see where synergy takes you.</h3>
  <article class="grid grid-flow-row md:grid-cols-3 mt-4 mb-8 gap-8">
    <section class="text-primary bg-twelve rounded-md p-4" id="connect">
      <img
        src="/images/coffee2.webp"
        alt="EmpowerMe Collective coffee"
        class="rounded-md size-64 mx-auto"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective cofee"
      />
      <h3 class="font-hindmedium text-xl my-4 font-bold">
        Connecting Entrepreneurs
      </h3>
      <h4 class="font-hindlight font-bold mb-4">Connect, Learn, and Grow</h4>
      <p class="font-hindlight mb-6">
        Join our Collective to connect with peers, tackle business challenges, and share insights. These connections offer opportunities and pathway to collaboration that help you achieve your goals and accelerate your journey.
      </p>
      <a href="/collective" class="btn-secondary">Join the waiting list</a>
    </section>
    <section class="text-primary bg-twelve rounded-md p-4" id="masterclass">
      <img
        src="/images/keyboard.webp"
        alt="EmpowerMe Collective keyboard"
        class="rounded-md size-64 mx-auto"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective digital market"
      />
      <h3 class="font-hindmedium text-xl my-4 font-bold">
        Joint Campaigns
      </h3>
      <h4 class="font-hindlight font-bold mb-4">
        A Sandpit to Test, Learn, Iterate
      </h4>
      <p class="font-hindlight mb-6">
        Dive into campaigns that spotlight your business. Test and refine your offer and customer journey. Amplify each other, growing your business and visibility. Sharing the learnings and insights. Then, if aligning well with others, crate mighty alliances.
      </p>
      <a href="/" class="btn-secondary">Read Lisa’s Prompts’ Experience</a>
    </section>
    <section class="text-primary bg-twelve rounded-md p-4">
      <img
        src="/images/flower.webp"
        alt="EmpowerMe Collective Flower"
        class="rounded-md size-64 mx-auto"
        decoding="async"
        loading="lazy"
        title="Empowerme Collective flower"
      />
      <h3 class="font-hindmedium text-xl my-4 font-bold">Supportive Ecosystem</h3>
      <h4 class="font-hindlight font-bold mb-4">Resources, Allies and Support</h4>
      <p class="font-hindlight mb-8">
        The entrepreneurial journey is a complex one. Here we can support and be supported. Offer your services, access coaching, share resources. Connect with Allies that can further support your journey and give you a boost. 
      </p>
      <p class="font-hindmedium">AVAILABLE SOON!</p>
    </section>
  </article>
</section>

<Collaboration />

<section
  class="grid grid-flow-row md:grid-cols-2 md:gap-24 gap-8 bg-primary md:p-24 p-8"
>
  <section class="text-five">
    <h2 class="font-montserratbold text-5xl font-bold">Upcoming events</h2>
    <p class="font-hindlight pt-4">
      We are now opening our registrations for the Collective with Joint Campaigns coming up. 
    </p>
    <p class="font-hindlight py-4">
      The Collective is a way to connect to other entrepreneurs and identify ways to amplify each other. Active Collaboration enables a very practical pathway to co-creation, connection and growth.
    </p>
    <p class="font-hindlight">
      Let’s bring our businesses together - our unique flowers - into a garden that blooms in synergy, cross-pollinating and thriving together into an ecosystem.
    </p>
  </section>
  <section class="flex flex-col bg-five p-8 rounded-md">
    <img
      src="/images/sketchbook.png"
      alt="EmpowerMe Collective sketchbook"
      class="rounded-md h-44 w-64"
      decoding="async"
      loading="lazy"
      title="Empowerme Collective sketchbook"
    />
    <h3 class="text-primary text-2xl my-4">
      Don’t miss out.
    </h3>
    <p class="font-hindlight text-primary font-light">
      Join the waiting list for joint campaigns.
    </p>
     
  </section>
</section>

<section
  class="flex flex-row items-center justify-center px-8 pb-16 bg-primary text-[#568FA2] hidden"
>
  <p class="font-montserrat font-bold tracking-wide text-center">
    Want to learn more? <a
      href="mailto:connect@empowermecollective.com "
      target="_blank"
      class="underline decoration-solid underline-offset-4"
    >
      Email us</a
    > or <a
      href="https://calendly.com/connect-4xra"
      target="_blank"
      class="underline decoration-solid underline-offset-4"
      >book a 15-min chat</a
    >.
  </p>
</section>

<section
  class="flex flex-col justify-center items-center text-primary h-96 bg-[url('/images/quote2-bg.png')] bg-no-repeat bg-cover "
>
  <h2
    class="mt-12 text-2xl font-bold md:w-2/3 w-3/4 text-center leading-relaxed"
  >
  “Being part of the collective was invaluable. I learned so much and saw tangible results, particularly the boost in website traffic.  
  This experience has set me up for future success.
  </h2>
  <p class="my-12 text-4xl font-montserratbold">To an Incredible 2025!”</p>

  <p class="mb-12 text-xl font-montserratbold text-five">Lisa’s Prompts</p>
</section>

<section
  class="bg-primary text-five p-8 py-16 flex flex-col items-center justify-center hidden"
>
  <article class="md:w-2/4">
    <h3 class="font-bold text-xl pb-8">Let me explain...</h3>
    <div class="grid grid-flow-row md:grid-cols-2 font-light gap-8 w-full">
      <p class="font-hindlight">
        We know ourselves best! We are the only ones that have the whole context
        in a story and that can truly say what is the best way forward. Yet, we
        trust others can show us the way.
      </p>
      <p class="font-hindlight">
        Here, at the EmpowerMe Collective, we co-create, share and learn
        together so we can strengthen that inner instinct, that wise voice
        within and let our inner teacher come out.
      </p>
    </div>
  </article>
</section>

<section
  class="mt-16 bg-[url('/images/shadows.png')] bg-no-repeat bg-cover h-[570px] relative"
>
  <article
    class="text-[#703F3B] md:w-2/5 md:m-16 m-4 p-8 px-12 bg-primary/30 backdrop-blur-sm absolute"
  >
    <h2 class="font-montserratbold font-bold text-5xl">Our Vision</h2>
    <p class="font-hindlight mt-8" id="vision">
      Creating a sustainable path of growth for budding entrepreneurs to bloom!
    </p>
  </article>
</section>

<QnA />

</Layout>
