---
import Layout from "../layouts/pages.astro";
---

<Layout
  title="EmpowerMe Collective | Business Coaching"
  description="A community of entrepreneurs tackling the challenges of growing a business by overcoming our inner blocks, working on our mindset and becoming the version of ourselves most aligned with our desired outcomes."
  pubDate={new Date("September 06 2024")}
  heroImage="/images/miniature.png"
>

<section class="p-24"> 
    
  </section>

 

<button class="klaviyo_form_trigger">Click here</button>



</Layout>
