---
import "../base.css";
---
<section class="flex flex-col items-center ">

<article class="bg-[#FFF] font-monserrat text-[#1A1A1A] md:max-w-4xl">
  <header class=""><img src="/images/letteroffuture-banner.png" alt="" /></header>
   
  <section>
    <h1 class="text-[#4090A4] text-2xl text-center mt-16 mb-2 font-montserratbold">
       EMPOWER ME Flower: The Letter of the Future
    </h1>
    <h2 class="text-[#4090A4] text-xl text-center my-3">
      The little (but mighty) flower* to plant in your garden today... &#x1F331
    </h2>
    <p class="px-8 text-xs text-center my-4 mb-8">
      *Flower - Tool created to empower you and to bring to life the version of
      yourself most aligned with your desired outcomes.
    </p>
    <iframe
      width="100%"
      height="385"
      src="https://www.youtube.com/embed/PrRtjU_bmYE?si=-5-_2hdEVH7BMB0I"
      title="The Letter of the Future"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="mx-auto my-4"></iframe>
    <p class="text-xs text-center">CLICK ON THE IMAGE TO START THE VIDEO</p>
    <p class="text-xs text-center">
      <a href="https://drive.google.com/file/d/1hdayRKmyVeUOJA4NwA5Y2xVDFuzucBnB/view?_kx=4wSqEzPgK5mRY1dx5l-dug.UrkeHP" target="_blank">Click here to download the transcript.</a>
    </p>

    <section class="mx-8 my-8">
      <h3 class="text-[#D4785D] text-xl my-8">
        &#x1F496 Let's plant this powerful flower in your garden! &#x1F496
      </h3>

      <p class="">
        The "Letter of the Future" is a powerful tool designed to help you
        envision and manifest your desired future. By writing a letter to
        yourself from one year in the future, you'll gain clarity on what truly
        matters to you and what you want to achieve in the coming year.
      </p>
      <p>
        This exercise encourages you to reflect on your genuine priorities and
        identify elements that no longer align with your path. It's an
        opportunity to congratulate your future self on all the accomplishments,
        growth, and positive changes you'll experience over the next year and
        embody the version of yourself that will take you there. If you see it,
        it's already within you!!! &#x2728
      </p>

      <h4 class="text-[#D4785D] text-xl my-8">Steps</h4>
      <p class="my-4">
        &#x1F449 Find a quiet, comfortable space where you can reflect without
        interruptions. Take a few deep breaths and center yourself in the
        present moment.
      </p>

      <p class="my-4">
        &#x2728 Imagine yourself one year from today, standing in your future.
        Visualize the person you've become and the life you're living.
      </p>

      <p class="my-4">
        &#x1F48C Begin your letter with "Dear [Your Name], I want to
        congratulate you for [everything I've been seeing you be, do, and have
        this year] - remember that you're one year from today and all this
        already took place. Stop and connect with it all...
      </p>

      <p class="my-4">
        As you write, consider and elaborate on the following aspects of your
        life:
      </p>

      <ul class="ml-8">
        <li>&#x2714 How you're feeling in your body</li>
        <li>&#x2714 The state of your relationships</li>
        <li>&#x2714 Your professional life and accomplishments</li>
        <li>&#x2714 Your personal growth and development</li>
        <li>&#x2714 Your living situation</li>
        <li>&#x2714 Your daily routines and habits</li>
      </ul>

      <p class="mt-4">
        Your appearance (you can even describe what you're wearing!)
      </p>
      <p class="mb-4">Go into detail about:</p>
      <ul>
        <li>&#x2714 What you have done</li>
        <li>&#x2714 What you have overcome</li>
        <li>&#x2714 What you have changed</li>
      </ul>
      <p class="my-4">
        &#x1F9D0  Be specific and vivid in your descriptions. The more detailed
        you are, the more powerful this exercise becomes.
      </p>
      <p class="my-4">
        &#x1F331  Focus on positive outcomes and the feelings associated with
        your achievements.
      </p>
      <p class="my-4">
        &#x1F970  Conclude your letter with words of encouragement and pride for
        your past self (which is your current self). Sign the letter as your
        future self.
      </p>
      <p class="my-4">
        &#x1FA77 After completing the letter, read it aloud to yourself. Take
        note of any emotions or insights that arise.
      </p>
      <p>
        Keep this letter somewhere handy and read it every day. Some read it
        before going to bed, I read it every morning as part of my morning
        routine. You can also record it as an audio - I have mine in my voice
        memos and listen to it when I cannot read the actual letter.
      </p>
      <p>
        Also, add a date to your letter if you want to keep track of time. And
        you might want to keep your wording positive for in general it is
        clearer to process for our brains and more encouraging, for example
        instead of writing 'I am not eating many sweats', you can reword it
        writing as 'I am eating a healthy diet'.
      </p>
      <p class="my-4">
        Remember, this exercise is about envisioning your best possible future
        and setting intentions for growth. Be honest, be bold, and allow
        yourself to dream big!
      </p>
      <p class="my-4">
        And btw, when I say dream big I mean whatever is aligned with your
        desires, which probably sits outside your current comfort zone. We are
        all unique in what drives us so be true to yourself, whatever that means
        for you. &#x1F970
      </p>
      <h4 class="text-[#D4785D] text-xl my-8">Benefits</h4>
      <p class="my-4">This exercise serves multiple purposes:</p>
      <ul class="ml-8 list-outside list-disc">
        <li>
          <span class="font-montserratbold">Self-Reflection:</span> It allows you
          to assess your current life, identifying what is working and what isn't,
          thereby fostering self-awareness. It also connects to your desired path,
          becoming clear on where you'd like to be in a year's time.
        </li>
        <li>
          <span class="font-montserratbold"> Clarity:</span> By articulating specific
          goals and aspirations, you can create a clear vision of your desired future,
          which can enhance motivation and provide direction in you life. Beware
          however not to be too specific, for we can get to our outcomes in multiple
          ways and there is value in letting the path unfold (allowing for flexibility
          yet keeping the final goal in mind).
        </li>
        <li>
          <span class="font-montserratbold">
            Emotional Connection:
          </span>Writing a letter to yourself from the future, connects us to
          the emotional aspect of us achieving our desired outcomes bringing the
          feeling to the present. You connect with your goals and realise they
          are already here, part of you in the present (you would not see it as
          possible if you didn't have it in you!). The energy is already in
          motion and you're stepping towards it - the emotions in the letter
          helps you to connect to the path unfolding and celebrate your
          beautiful self (and keeping you aligned with your why when the going
          gets tough, for it will - it's simply part of the journey &#x1F605).
        </li>
      </ul>
      <p class="my-4">
        TIP: Please note how the letter 'feels' and whether you can truly
        connect with your vision. Sometimes we are clear on what we want yet
        there is a discrepancy between what our mind wants and what we truly
        believe we can achieve. This could lead you to unveiling some underlying
        stories that might stand in the way of you achieving this - if so, let's
        talk more. The good news is that awareness is the first step to overcome
        those and move one step toward your dreams.
      </p>
      <p class="my-4">You totally got this! &#x2728&#x2728&#x2728</p>
    </section>
    <img src="/images/letteroffuture-garden.png" alt="" />

    <ul class="flex justify-center gap-4 py-8">
      <li class="mb-4 text-nine">
        <a
          href="https://www.linkedin.com/company/empowerme-collective"
          target="_blank"
          rel="noopener noreferrer"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="size-10 fill-nine"
          >
            <path
              d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
            ></path></svg
          ></a
        >
      </li>
     
      <li class="mb-4">
        <a
          href="https://www.facebook.com/profile.php?id=61565654397048"
          target="_blank"
          rel="noopener noreferrer"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="size-10 fill-nine"
          >
            <path
              d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
            ></path></svg
          ></a
        >
      </li>
      <li class="mb-4">
        <a
          href="mailto:connect@empowermecollective.com "
          target="_blank"
          class=""
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="size-10 fill-nine"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
            ></path>
            <path
              d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
            ></path>
          </svg></a
        >
      </li>
    </ul>
  </section>
</article>
 
</section> 
