---
import Layout from "../layouts/pages.astro";
---

<Layout
  title="MasterClass"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <header
    class="flex flex-col justify-center items-center text-primary bg-[url('/images/quote2-bg.png')] bg-no-repeat bg-cover p-16"
  >
    <h1 class="font-montserratbold font-bold text-5xl md:pt-32 text-center">
      LET’S LEAD LIFE AT OUR OWN TERMS
    </h1>
    <p class="md:px-32 py-8 text-center">
      A Masterclass showing you the path to becoming the version of yourself
      aligned with your desired outcomes.
    </p>
    <button class="btn-tertiary">Learn more</button>
  </header>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
  >
    <section class="md:px-8">
      <p class="font-hindlight pb-4 leading-loose">
        The EmpowerMe Masterclass is taking participants through a journey to
        identify some of the inner blocks and making those invisible stories
        visible. It then leverages the transformational power of habits to
        become the version of ourselves that will take participants to their
        desired outcomes.
      </p>

      <p class="font-hindlight pb-4 leading-loose">
        Habits hold immense power for they can change the way we see ourselves.
        And if we change how we view ourselves, we change what we believe is
        possible, and that’s transformational!
      </p>

      <p class="font-hindlight pb-4 leading-loose">
        The process thought is a repeatable system that can be used in all areas
        of our lives. It doesn’t give you the fish but teaches you how to fish!
      </p>
    </section>
    <section>
      <img src="/images/sketchbook.png" alt="" />
    </section>
  </section>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
  >
    <section>
      <img src="/images/sketchbook.png" alt="" />
    </section>
    <section class="md:px-8">
      <h2 class="font-montserratbold font-bold text-4xl mb-6">
        WHY EMPOWER ME MASTERCLASS?
      </h2>
      <p class="font-hindlight pb-4 leading-loose">
        What is your desired destination? And what is the version of yourself 
        that will take you there?
      </p>

      <p class="font-hindlight pb-4 leading-loose">
        EmpowerMe Collective enables the collective to become the version of
        themselves that will bring their desired outcome to life, make them
        grow, expand and support others to do the same.
      </p>

      <button>JOIN THE WAITING LIST</button>
    </section>
  </section>

  <section
    class="flex flex-col justify-center items-center text-secondary bg-[url('/images/quote2-bg.png')] bg-no-repeat bg-cover p-8 md:p-24"
  >
    <h2 class="font-montserratbold font-bold text-4xl mb-6">
      CASE STUDY or FEEDBACK I AM PARTICULARLY PROUD OF
    </h2>
    <p class="font-hindlight pb-4 leading-loose">
      When I first created the course “The Transformation power of habits”, I
      shared it with my sister. I did so because she was in the process of
      writing her third book ( please note, the process is transferable to any
      challenging area in our lives). She was complaining on how stretched she
      was with her busy schedule and as a result procrastinating on her writing.
      This led her to feel super stressed as the looming deadline was putting
      her under immense pressure yet still continuing to procrastinate and
      self-sabotaging herself.
    </p>
    <p class="font-hindlight pb-4 leading-loose">
      My beautiful sister took the formula shared in this masterclass and boom,
      she published an incredible book in record time and said:
    </p>
    <p class="font-hindlight pb-4 leading-loose">
      “I've always found it difficult to develop a routine, and I've viewed my
      life as a "creative mess." At the end of the day, when I had a deadline,
      I'd always find a way to finish my piece on time and it would be well
      done. However, this always occurred at the last minute, leaving me
      completely exhausted and drained. I often wondered why was I doing that to
      me and how to change it. [...]
    </p>
    <p class="font-hindlight pb-16 leading-loose">
      It was mind blowing for me to realise how fast we can change and how less
      stressful my life can become. I've started to use the hacks I learned for
      everything and the results are phenomenal. I genuinely adore this course
      and highly recommend it!”
    </p>
    <img src="images/flower.webp" alt="" class="rounded-full size-48" />
  </section>

  <section
    class="flex flex-col items-center justify-center p-8 md:p-24 bg-primary text-five"
  >
    <h2 class="font-montserratbold font-bold text-4xl mb-6">
      In the EmpowerMe Masterclass participants will:
    </h2>

    <ul class="font-hindlight mb-4 md:pl-6 leading-8 list-none">
      <li class="flex flex-row items-top gap-2">
        <div>
          <img
            src="/images/check.svg"
            alt=""
            class="bg-five h-4 md:w-4 w-12 mr-2 mt-2 rounded-sm"
          />
        </div>
        <p class="font-hindlight leading-8">
          Learn how to fish, instead of getting a fish - Learn how to use a
          repeatable system to identify what is holding them back and come out
          with a clear action plan;
        </p>
      </li>
      <li class="flex flex-row items-top gap-2">
        <div>
          <img
            src="/images/check.svg"
            alt=""
            class="bg-five h-4 md:w-4 w-8 mr-2 mt-2 rounded-sm"
          />
        </div>
        <p class="font-hindlight leading-8">
          Sit in the driver’s seat of their lives -  Learn to implement the
          action plan by turning it into empowering habits;
        </p>
      </li>
      <li class="flex flex-row items-top gap-2">
        <div>
          <img
            src="/images/check.svg"
            alt=""
            class="bg-five h-4 md:w-4 w-8 mr-2 mt-2 rounded-sm"
          />
        </div>
        <p class="font-hindlight leading-8">
          Leverage the transformational power of habits - Learn about habits, a
          few hacks and how to apply them to their life;
        </p>
      </li>
      <li class="flex flex-row items-top gap-2">
        <div>
          <img
            src="/images/check.svg"
            alt=""
            class="bg-five h-4 md:w-4 w-8 mr-2 mt-2 rounded-sm"
          />
        </div>
        <p class="font-hindlight leading-8">
          Learn a game changing EmpowerMe Habit: A pathway to your goals and
          change of mindset for success.
        </p>
      </li>
    </ul>
  </section>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:p-16 p-8 gap-2 items-center justify-items-center bg-primary text-five"
  >
    <section class="md:px-8">
      <h2 class="font-montserratbold font-bold text-4xl mb-6">HOW TO JOIN?</h2>
      <p class="font-hindlight pb-4 leading-loose">
        Whether you want to join as an individual or you’d like to organise the
        session for your tribe, the first step is to register your interest in
        the waiting list. Once we receive your registration, we’ll be in touch
        and further connect.
      </p>

      <button>JOIN WAITING LIST NOW</button>
    </section>
    <section>
      <img src="/images/sketchbook.png" alt="" />
    </section>
  </section>
</Layout>
