---
import Layout from "../layouts/pages.astro";
import QnAMasterclass from "../components/QnAMasterclass.astro";
---

<Layout
  title="EmpowerMe Collective | MasterClass"
  description="A Masterclass showing you the path to becoming the version of yourself  aligned with your desired outcomes."
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <header
    class="flex flex-col justify-center items-center text-tenth h-screen bg-[url('/images/masterclass-bg.webp')] bg-no-repeat bg-cover py-8 px-4 md:p-16"
  >
    <section
      class="flex flex-col p-4 md:m-24 md:p-12 text-tenth bg-primary/40 backdrop-blur-md rounded-md"
    >
      <h1
        class="font-montserratbold font-bold md:text-7xl text-3xl px-4 md:px-36 text-center "
      >
        Let's lead life at our own terms
      </h1>
      <p class="md:px-24 py-8 text-center text-xl md:text-2xl leading-normal">
        A Masterclass showing you the path to becoming the version of yourself
        aligned with your desired outcomes.
      </p>
      <p class="mx-auto text-center pb-4">
        <a
          href="https://forms.gle/dyYRrcgCU3TPL3tb8"
          target="_blank"
          class="btn-fifth mx-auto">JOIN THE WAITING LIST</a
        >
      </p>
    </section>
  </header>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:px-48 md:py-24 p-8 gap-4 md:gap-36 items-center justify-center bg-tenth text-primary"
  >
    <section>
      <p class="font-hindlight pb-4 leading-loose">
        The EmpowerMe Masterclass takes you through a journey to
        identify some of the inner blocks and making those invisible stories
        visible. It then leverages the transformational power of habits to
        become the version of ourselves that will take participants to their
        desired outcomes.
      </p>
    </section>
    <section>
      <p class="font-hindlight pb-4 leading-loose">
        Habits hold immense power for they can change the way we see ourselves.
        And if we change how we view ourselves, we change what we believe is
        possible, and that’s transformational.
      </p>
      <p class="font-hindlight pb-4 leading-loose">Take your power back!</p>
    </section>
  </section>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:px-16 md:py-36 py-12 p-8 gap-6 md:gap-2 items-center justify-center bg-primary text-five"
  >
    <section class="flex justify-end">
      <img src="/images/laptop-coffee.png" alt="" class="w-96" />
    </section>
    <section class="md:px-24">
      <h2 class="font-montserratbold md:text-5xl text-3xl mb-6">
        Why the Masterclass?
      </h2>
      <p class="font-hindlight pb-4">
        What is your desired destination? And what is the version of yourself  that will take you there?
      </p>

      <p class="font-hindlight pb-4">
        The masterclass takes you thought a repeatable system that can be used in all areas of your life. It doesn’t give you the fish, it teaches you how to fish! 
This process enables you to become the version of yourself that will bring your desired outcome to life, identify and overcome your innter block, expand and grow  yourself and by extension your business. 
      </p>

      <p class="py-4">
        <a
          href="https://forms.gle/dyYRrcgCU3TPL3tb8"
          target="_blank"
          class="btn-primary mx-auto">JOIN THE WAITING LIST</a
        >
      </p>
    </section>
  </section>

  <section
    class="flex flex-col justify-center items-center text-tenth bg-[url('/images/usecase.jpeg')] bg-no-repeat bg-cover p-8 md:p-24"
  >
    <article
      class="flex flex-col p-4 bg-primary/60 backdrop-blur-md rounded-md"
    >
      <h2 class="font-montserratbold font-bold text-3xl mb-6">
        Case study: A story I am particularly proud of
      </h2>
      <p class="font-hindlight pb-4">
        When I first created the course “The Transformation power of habits”, I
        shared it with my sister. I did so because she was in the process of
        writing her third book (please note, the process is transferable to any
        challenging area in our lives). She was complaining on how stretched she
        was with her busy schedule and as a result procrastinating on her
        writing. This led her to feel super stressed as the looming deadline was
        putting her under immense pressure yet still continuing to procrastinate
        and self-sabotaging herself.
      </p>
      <p class="font-hindlight pb-4">
        My beautiful sister took the formula shared in this masterclass and
        boom, she published an incredible book in record time and said:
      </p>
      <p class="font-hindlight pb-4">
        “I've always found it difficult to develop a routine, and I've viewed my
        life as a "creative mess." At the end of the day, when I had a deadline,
        I'd always find a way to finish my piece on time and it would be well
        done. However, this always occurred at the last minute, leaving me
        completely exhausted and drained. I often wondered why was I doing that
        to me and how to change it. [...]
      </p>
      <p class="font-hindlight pb-8 leading-loose">
        It was mind blowing for me to realise how fast we can change and how
        less stressful my life can become. I've started to use the hacks I
        learned for everything and the results are phenomenal. I genuinely adore
        this course and highly recommend it!”
      </p>
      <div class="flex flex-col justify-center items-center">
        <p class="">
          <img
            src="/images/Florinda.png"
            alt=""
            class="rounded-full size-24 mx-auto"
          />
        </p>
        <p class="text-center text-sm pt-2">Florinda</p>
      </div>
    </article>
  </section>

  <section class="p-8 md:p-24 bg-primary text-five">
    <h2 class="font-montserratbold font-bold md:text-5xl text-3xl mb-12 text-center">
      In the Masterclass you will:
    </h2>

    <ul class="grid grid-flow-row grid-cols-2 gap-x-12 md:gap-x-24 gap-y-12 my-4 md:px-48 list-none">
      <li class="flex flex-col justify-center items gap-4"> 
          <img src="/images/fish.svg" alt="" class="size-16 " /> 
        <div>
          <h3 class="font-hindmedium">
            Learn how to fish, instead of getting a fish
          </h3>
          <p class="font-hindlight">
            Learn how to use a repeatable system to identify what is holding you back and come out with a clear action plan
          </p>
        </div>
      </li>
      <li class="flex flex-col items-top gap-2">
        <div>
          <img src="/images/driving.svg" alt="" class="size-16" /> 
        </div>
        <div>
          <h3 class="font-hindmedium">Sit in the driver’s seat of their lives</h3>
          <p class="font-hindlight">
            Learn to implement the action plan and turn it into empowering habits.
          </p>
        </div> 
      </li>
      <li class="flex flex-col items-top gap-2">
        <div>
          <img src="/images/transformational.svg" alt="" class="size-16" /> 
        </div>
        <div>
          <h3 class="font-hindmedium">
            Leverage the transformational power of habits
          </h3>
          <p class="font-hindlight">
            Learn about habits, a few hacks and how to apply them to your life.
          </p>
        </div> 
      </li>
      <li class="flex flex-col items-top gap-2">
        <div>
          <img src="/images/em.svg" alt="" class="h-16 " /> 
        </div>
        <div>
          <h3 class="font-hindmedium">Learn a game changing EmpowerMe Habit</h3>
          <p class="font-hindlight">
            A pathway to your goals and change of mindset for success.
          </p>
        </div> 
      </li>
    </ul>
  </section>

  <section
    class="grid grid-flow-row md:grid-cols-2 md:gap-8 items-center justify-items-center bg-tenth md:py-24 md:px-36   "
  >
    <section class="text-primary p-8">
      <h2 class="font-montserratbold font-bold md:text-5xl text-3xl mb-6">How to join?</h2>
      <p class="font-hindlight pb-4 leading-loose">
        Whether you want to join as an individual or you’d like to organise the
        session for your tribe, the first step is to register your interest in
        the waiting list. Once we receive your registration, we’ll be in touch
        and further connect.
      </p>

      <p class="py-4">
        <a
          href="https://forms.gle/dyYRrcgCU3TPL3tb8"
          target="_blank"
          class="btn-secondary mx-auto">JOIN THE WAITING LIST</a
        >
      </p>
    </section>
    <section class="py-8">
      <img src="/images/office.jpeg" alt="" class="size-5/6 mx-auto" />
    </section>
  </section>
<QnAMasterclass />
</Layout>
