<section class="gap-6 justify-items-center bg-secondary py-16">
  <h2 class="font-montserratbold text-3xl font-bold text-primary">
    Why Active Collaboration? Let’s connect, align, amplify.
  </h2>

  <ul
    class="grid grid-flow-row md:grid-cols-3 items-start gap-6 text-primary md:mx-16 mx-4"
  >
    <li class="m-4 p-6  rounded-md">
      <h3 class="font-hindmedium text-xl my-4 font-bold">Widening visibility</h3>
      <p class="font-hindlight">
        Joint Campaigns is a very effective way to start the journey of
        collaboration. While participating into a campaign, 3-5 businesses
        spotlights their offer. All businesses. post on their social media and
        engage in others’ posts. This widens your visibility, builds authority
        and creates momentum. The result is growth!
      </p>
    </li>
    <li class="m-4 p-6  rounded-md">
      <h3 class="font-hindmedium text-xl my-4 font-bold">New markets & opportunities</h3>
      <p class="font-hindlight">
        During joint campaigns, we get to know the other entrepreneurs. This
        allows us to identified our alignement, build trust and explore further
        collaborations. Where applicable, this could look like a new special
        offer crated together, cross-selling and affiliate marketing or joining
        forces in tenders.
      </p>
    </li>
    <li class="m-4 p-6 rounded-md">
      <h3 class="font-hindmedium text-xl my-4 font-bold">Increasing Buying Power</h3>
      <p class="font-hindlight">
        Active collaboration can also be explored by identifying expenses that
        match and can be optimised. An example could be sharing the expense of a
        market stool and sell multiple lines, it can be of logistical nature,
        packing, 3PL etc or other ways to increse buying power. Together we can
        get a better price.
      </p>
    </li>
  </ul>
</section>
