<main
  class="grid grid-flow-row md:grid-cols-2 items-center justify-center h-screen bg-gradient-to-b
      from-[#198DA6] via-[#A69997] to-[#BA5F34]"
>
  <div>
    <h1 class="md:ml-16 m-4 font-monserrat font-semibold md:text-5xl text-3xl text-primary leading-loose">
      Grow your business and live your life on your own terms!
    </h1>
    <p class="ml-16 mt-4 text-primary">Rewrite your story and soar high.</p>
    <div class="ml-16 mt-4">
      <button type="button" class="btn-secondary">Connect and grow</button>
      <button type="button" class="btn-tertiary">Learn more</button>
    </div>
  </div>

  <div class="md:mt-20 mt-4 text-center flex flex-col justify-center items-center">
     <img src="/images/manu.jpg" alt="" class="md:size-64 size-48 p-5 border-primary border-2 rounded-full">
     <p class=" text-primary" style="margin-left: -120px;">Is this you?</p>
  </div>
</main>
