---

---

<main
  class="grid grid-flow-row md:grid-cols-2 items-center justify-center h-screen bg-[url('/images/cover-bg.webp')] bg-no-repeat bg-cover md:px-24 p-8"
>
  <div>
    <h1
      class="font-montserratbold font-bold md:text-5xl text-3xl text-primary md:leading-normal"
    >
      Grow your business and live your life on your own terms!
    </h1>
    <p class="my-8 text-primary text-xl">Rewrite your story and soar high.</p>
    <div class="">
      <button type="button" class="btn-secondary">Connect and grow</button>
      <button type="button" class="btn-tertiary">Learn more</button>
    </div>
  </div>

  <div class="text-center flex flex-col justify-center items-center">
    <div class="relative">
      <img
        src="/images/manu.webp"
        alt="Manuela Klevisser"
        class="md:size-64 size-48 p-5 border-primary border-2 rounded-full"
        title="EmpowerMe Collective Manuela Klevisser"
      />
      <div
        class="absolute flex flex-row items-center justify-center right-12 bottom-6 rounded-full p-1 bg-[url('/images/gbbutton.png')] bg-cover bg-repeat"
      >
        <button id="audiobutton">
          <img
            src="/images/audioOff.svg"
            alt="line"
            decoding="async"
            loading="lazy"
            class="size-7"
            id="audioIconControl"
          />
        </button>
      </div>
    </div>

    <p
      class="w-48 flex flex-row"
      style="margin-top: -20px;"
    >
      <img src="/images/line.svg" alt="line" decoding="async" loading="lazy" />
      <span class="mt-12 font-licoriseregular text-primary text-2xl " > Listen along while exploring our website</span>
    </p>
  </div>
</main>

<script>
  const audio = document.createElement("audio");
  audio.setAttribute("src", "/audio/empowerMeCollective.mp3");
  //audio.playbackRate = 0.5;
  audio.preload = "auto"
   

  function handleClick() { 
    
    const audioIconControl:HTMLImageElement = document.getElementById("audioIconControl") as HTMLImageElement;
    let filename = audioIconControl!.src;

    if (filename.indexOf("audioOff") !== -1) {
      audioIconControl!.src = "/images/audioOn.svg";
      audio.play();
    } else {
      audioIconControl!.src = "/images/audioOff.svg";
      audio.pause();
    }
 
  }

  let audiocontrol = document.getElementById("audiobutton");
  audiocontrol?.addEventListener("click", handleClick);
</script>
