---
const today = new Date();
---

<footer class="footer">
  
  <section>
    <div
      class="font-montserratbold font-bold bg-tenth text-primary inline pr-1"
    >
      EMPOWER ME
    </div>
    <div class="font-montserrat font-light">COLLECTIVE</div>
  </section>

  <ul>
    <li class="mb-4">
      <a href="/#vision">Our vision</a>
      </li>
    <li class="mb-4">
      <a href="/masterclass">Habit Masterclass</a>
      <li class="mb-4">Regular Meet ups</li>
    </li>
  </ul>

    <ul>
      <li class="mb-4 font-semibold">Connect with us</li>
      <li class="mb-4">
        <a
          href="http://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer">Instagram</a
        >
      </li>
      <li class="mb-4">
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
      </li>
    </ul> 

    <section>
      <h3 class="text-xl mb-4 text-left">
        Don’t miss out on our upcoming events
      </h3>
      <p class="font-light text-left">
        Join the waiting list for the regular meet ups.
      </p>
      <section
        class="flex flex-row items-center justify-center align-middle content-center mt-4 gap-2"
      >
        <input
          type="text"
          class="rounded-md p-2"
          placeholder="you@example.com"
        />
        <button class="btn-fourth">Submit</button>
      </section>
    </section>
  </ul>
</footer>
