---
const today = new Date();
---

<footer class="footer">
  
  <section class="text-xl">
    <div
      class="font-montserratbold font-bold bg-tenth text-primary inline pr-1"
    >
      EMPOWER ME
    </div>
    <div class="font-montserrat font-light">COLLECTIVE</div>
  </section>

  <ul class="hidden">
    <li class="mb-4 font-semibold">
       Learn more
      </li>
      <li class="mb-4"> 
        <a href="/about">About Us</a>  
      </li>
    <li class="mb-4"> 
      <a href="/collective">Collective</a>  
    </li>
    <li class="mb-4">
      <a href="/masterclass">Masterclass</a>
    </li>
  </ul>

    <ul>
      <li class="mb-4 font-semibold">Connect with us</li>
      <li class="mb-4"><a
        href="mailto:connect@empowermecollective.com "
        target="_blank"
        class=" "
      >
        Email us</a
      ></li>
      <li class="mb-4"><a
        href="https://calendly.com/connect-4xra"
        target="_blank"
        class=" "
        >Book a 15-min chat</a
      ></li>
      
      <li class="mb-4">
        <a
          href="https://www.linkedin.com/company/empowerme-collective"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
      </li>

      <li class="mb-4">
        <a
          href="https://www.facebook.com/profile.php?id=61565654397048"
          target="_blank"
          rel="noopener noreferrer">Facebook</a
        >
      </li>

</ul>

<ul > 
<li class="mb-4"><a
  href="/privacypolicy"
  target="_blank"
  class=" "
  >Privacy Policy</a
>
  </li>

  <li class="mb-4"><a
    href="/termsofuse"
    target="_blank"
    class=" "
    >Terms of Use</a
  ></li>
</ul>
      <!--
      <li class="mb-4">
        <a
          href="http://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer">Instagram</a
        >
      </li>
       -->
     

    <section class="hidden">
      <h3 class="text-xl mb-4 text-left">
        Don’t miss out on our upcoming events
      </h3>
      <p class="font-light text-left">
        Join the waiting list for the regular meet ups.
      </p>
      <section
        class="flex flex-row items-center justify-center align-middle content-center mt-4 gap-2"
      >
        <input
          type="text"
          class="rounded-md p-2"
          placeholder="you@example.com"
        />
        <button class="btn-fourth">Submit</button>
      </section>
    </section>
  </ul>
</footer>
