---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";

import logo from "../../public/logo.svg";
---

<Fragment>
  <!-- nav desktop -->
  <nav class="hidden md:block relative top-0 bg-blue z-10">
    <header class="flex flex-row justify-between absolute top-0 w-full z-10">
      <div class="flex ml-16 mt-4 items-center gap-3">
        <h1 class="flex flex-col">
          <span
            class="font-monserrat font-black text-xl bg-primary text-[#4C8CA2]"
            >EMPOWER ME</span
          >
          <span class="font-monserrat font-light text-xl text-primary"
            >COLLECTIVE</span
          >
        </h1>
      </div>
      <div class="text-primary font-hindlight">
        <HeaderLink href="/masterclass">Regular Meet ups</HeaderLink>
        <HeaderLink href="/courses">Habit MasterClass</HeaderLink>
        <HeaderLink href="/about">
          <button class="btn-secondary"> Connect and grow </button>
        </HeaderLink>
      </div>
    </header>
  </nav>
  <!-- nav mobile -->
  <nav class="md:hidden sticky top-0 bg-one z-10">
    
    <!-- menu mobile -->
    <section
      id="mobile-menu"
      class="hide-menu fixed left-0 top-14 z-50 w-full h-full transition-transform btn-primary border-primary-blue"
    >
      <div class="bg-one w-[75%] drop-shadow-2xl text-primary">
        <ul
          class="unset flex flex-col justify-center text-text-bold gap-4 [&>li]:p-1 px-6"
        >
          <HeaderLink href="/masterclass">Regular Meet ups</HeaderLink>
          <HeaderLink href="/courses">Habit masterclass</HeaderLink>
          <HeaderLink href="/about">Connect and grow</HeaderLink>
        </ul>
      </div>
    </section>
  </nav>
</Fragment>

<script>
  // @ts-nocheck

  document.querySelector("#menu-button").addEventListener("click", () => {
    const currentState = document
      .querySelector("#menu-button")
      .getAttribute("data-state");
    if (!currentState || currentState === "closed") {
      document
        .querySelector("#menu-button")
        .setAttribute("data-state", "opened");
      document
        .querySelector("#menu-button")
        .setAttribute("aria-expanded", "true");

      const menuElem = document.querySelector("#mobile-menu");
      menuElem.classList.remove("hide-menu");
      menuElem.classList.add("show-menu");
      document.body.style.overflow = "hidden";
    } else {
      document
        .querySelector("#menu-button")
        .setAttribute("data-state", "closed");
      document
        .querySelector("#menu-button")
        .setAttribute("aria-expanded", "false");

      const menuElem = document.querySelector("#mobile-menu");
      menuElem.classList.remove("show-menu");
      menuElem.classList.add("hide-menu");
      document.body.style.overflow = "auto";
    }
  });
</script>

<style>
  .hide-menu {
    transform: translateX(-100%);
  }
  .show-menu {
    transform: translateX(0%);
  }

  .button-three {
    --button-color: black;
    overflow: hidden;
  }

  .button-three .hamburger {
    transition:
      translate 1s,
      rotate 1s;
  }

  .button-three[aria-expanded="true"] .hamburger {
    translate: 10px -10px;
    rotate: 0.125turn;
  }

  .button-three .line {
    transition: 1s;
    stroke-dasharray: 60 31 60 300;
  }

  .button-three[aria-expanded="true"] .line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
  }
</style>

<style>
  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  nav a {
    padding: 1em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
