---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";

import logo from "../../public/logo.svg";
---

<Fragment>
  <!-- nav desktop -->
  <nav class="hidden md:block relative top-0 bg-blue z-10">
    <header
      class="flex flex-row justify-between absolute top-0 w-full z-10 px-24 pt-4"
    >
      <div class="flex mt-4 items-center gap-3">
        <h1 class="flex flex-col">
          <span
            class="font-monserratbold font-bold text-xl bg-primary text-[#2D6873] pr-1"
            >EMPOWER ME</span
          >
          <span class="font-monserrat font-light text-xl text-primary"
            >COLLECTIVE</span
          >
        </h1>
      </div>
      <div class="mt-4">
        <HeaderLink class="text-primary font-hindlight mr-4" href="/collective"
          >Collective</HeaderLink
        >
        <HeaderLink class="text-primary font-hindlight mr-4" href="/masterclass"
          >Masterclass</HeaderLink
        >
        <a href="https://forms.gle/dyYRrcgCU3TPL3tb8" target="_blank" class="btn-secondary">Connect and grow</a>
      </div>
    </header>
  </nav>
  <!-- nav mobile -->
  <nav class="hidden sticky top-0 bg-one z-10">
    <!-- menu mobile -->
    <section
      id="mobile-menu"
      class="hide-menu fixed left-0 top-14 z-50 w-full h-full transition-transform btn-primary border-primary-blue"
    >
      <div class="bg-one w-[75%] drop-shadow-2xl text-primary">
        <ul
          class="unset flex flex-col justify-center text-text-bold gap-4 [&>li]:p-1 px-6"
        >
          <li><HeaderLink href="/masterclass">Regular Meet ups</HeaderLink></li>
          <li><HeaderLink href="/courses">Habit masterclass</HeaderLink></li>
          <li><HeaderLink href="/about">Connect and grow</HeaderLink></li>
        </ul>
      </div>
    </section>
  </nav>
</Fragment>
 