<section
  class="grid grid-flow-row md:grid-cols-2  bg-tenth bg-cover   justify-center items-center text-primary"
>
  <article class="md:px-24 p-4">
    <h2 class="font-montserratbold text-4xl md:text-5xl font-bold">
      Meet Manuela <span class="text-2xl"
        > </span>
    </h2>
    <p class="font-hindlight my-6">
      Through my work with Te Whare Hukahuka and Rebel Business School (now Bizezi), I’ve had the privilege of helping hundreds of aspiring entrepreneurs across 18 countries start their own businesses. Again and again, I’ve seen how having a clear roadmap — and not doing it alone — is what separates those who succeed from those who keep their ideas on the shelf.
    </p><p class="font-hindlight mb-6">
      That’s what inspired me to create the EmpowerMe Collective — to support early-stage entrepreneurs and those just starting out, especially those with the least access to resources. Because I believe those with the biggest potential are often the ones most overlooked — and when supported, they go on to create thriving businesses, stronger families, empowered communities, and lasting impact.
    </p>
    <p class="font-hindlight mb-8">Ready to take the first step? <br />
      Book a FREE strategic call with me and let’s get you moving !
    </p>
    <p class="text-center md:p-0 pb-8">
    <a
      href="https://calendly.com/connect-4xra"
      target="_blank"
      class="btn-secondary">Claim Your Spot!</a
    >
  </p>
  </article>
  <article>
    <img
      src="/images/manu.png"
      alt="EmpowerMe Collective sketchbook"
      class=""
      decoding="async"
      loading="lazy"
      title="Meet Manu"
    />
  </article>

  
</section>
