<section class="md:mx-36 md:my-24 m-4">
  <h2 class="font-montserratbold font-bold text-4xl md:text-5xl text-five">QnA</h2>
  <ul class="flex flex-col md:gap-6 mt-8">
     
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Who is the EmpowerMe Collective for?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          EmpowerMe Collective is for early-stage entrepreneurs — especially those feeling stuck, unsure of their next step, or lacking access to support. If you’re ready to build a business on your own terms with the right tools, mindset, and community — you’re in the right place.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Do I need a business idea to join?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
           Nope! Whether you're still exploring ideas or already taking steps, we’re here to help you get clear, gain confidence, and take action. The StartStrong pathway can help you validate, shape, and launch your idea with support.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What is the StartUp NZ Entrepreneurs Programme?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         It’s an online course we proudly offer in collaboration with NZ Entrepreneur. You’ll learn proven startup principles, gain entrepreneurial clarity, and access curated resources (250+ tools, interviews, case studies, and more). Over 1,600 people have taken the course since 2020.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What’s included in the 30-minute strategy call?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         Your free call with Manu is a personalised check-in to explore where you're at, uncover opportunities, and identify your best next step — whether that’s community support, collaboration, coaching, or all three.
        </p>
      </details>
    </li>
     <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What is #GrowTogether about?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         Grow Together creates real-world collaboration opportunities — from co-promotions and cross-selling to connecting with local partners and getting featured in media. It's about going further, faster, through trusted relationships.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >How much does it cost to join?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         There’s no cost to join the community or access the free resources. Some coaching or promotional services may have costs, but we’re transparent and always start with value-first, no-pressure support.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >I support entrepreneurs. Can I be part of the Collective too?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         Absolutely. If you’re a business leader, coach, organisation, or simply passionate about uplifting local entrepreneurs — we’d love to connect. Let’s explore how we can support this ecosystem together.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What’s the best next step?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
         Sign up to Connect & Grow — our email series that gives you:
        </p>
        <ul class="font-hindlight list-disc pl-6">
          <li>Free access to 3 StartUp NZ lessons</li>
          <li>A link to book your 30-min strategy call</li>
          <li>Practical tools, tips & community updates</li>
        </ul>
        <p class="font-hindlight text-md mt-4 ">It’s the easiest way to take action and stay supported.</p>
      </details>
    </li>
  </ul>
</section>
