<section class="md:mx-36 md:my-24 m-4">
  <h2 class="font-montserratbold font-bold text-4xl md:text-5xl text-five">QnA</h2>
  <ul class="flex flex-col md:gap-6 mt-8">
     
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Who is the EmpowerMe Collective for?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The EmpowerMe Collective is for those who aspire to lead life on their own terms by embracing the entrepreneurial path and starting a business. Whether you're in the idea stage, launching your venture, or running an established business, the collective is here to support your journey to growth.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What is the waiting list for?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The waiting list is an expression of interest to join campaigns. Once we connect, we can see ways to active collaboration and what that might look like.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >When is the next Campaign?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          We’re running campaigns regularly and we would love to see you in one! Register your interest - ‘Connect and Grow’. It’s free - no risks, just opportunities!
        </p>
      </details>
    </li>
     
  </ul>
</section>
