<section class="md:mx-36 md:my-24 m-4">
  <h2 class="font-montserratbold font-bold text-4xl text-five">QnA</h2>
  <ul class="flex flex-col md:gap-6 mt-8">
    <li class="">
      <details>
        <summary class="font-medium cursor-pointer p-4 bg-primary"
          >I can't decide what to do first, the Online Course or the Habit
          Master Class? What is the difference?
        </summary>
        <p class="text-sm my-4 px-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
      </details>
    </li>
    <li class="">
      <details>
        <summary class="font-medium cursor-pointer p-4 bg-primary"
          >When is the next Habit Master Class?</summary
        >
        <p class="text-sm my-4 px-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
      </details>
    </li>
    <li class="">
      <details>
        <summary class="font-medium cursor-pointer p-4 bg-primary"
          >Is the Habit Master Class an in-person or online event?</summary
        >
        <p class="text-sm my-4 px-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
          ultricies leo integer malesuada nunc vel risus commodo viverra.
          Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis
          eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum.
          Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
          egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum
          lorem. Varius sit amet mattis vulputate enim. Habitasse platea
          dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi.
          Dictumst quisque sagittis purus sit amet.
        </p>
      </details>
    </li>
  </ul>
</section>
