<section class="md:mx-36 md:my-24 m-4">
  <h2 class="font-montserratbold font-bold md:text-5xl text-3xl text-five">QnA</h2>
  <ul class="flex flex-col md:gap-6 mt-8">
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Is the Empower Me Collective free?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The Collective meetings comes with an accessible charge of $17 per session.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Who is the EmpowerMe Collective for?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The EmpowerMe Collective is for those who aspire to lead life on their own terms by embracing the entrepreneurial path and starting a business. Whether you're in the idea stage, launching your venture, or running an established business, the collective is here to support your journey of personal and business growth.
        </p>
      </details>
    </li>
    
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >When and where is the Collective meeting?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The Collective Meetings are held at different time, both in person or online to suit the various schedules. We will let you know what is available to your specific location once you register.
        </p>
      </details>
    </li>
    
  </ul>
</section>
