<section class="md:mx-36 md:my-24 m-4">
  <h2 class="font-montserratbold font-bold text-4xl text-five">QnA</h2>
  <ul class="flex flex-col md:gap-6 mt-8">
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >Is the Masterclass an in-person or online event?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The Masterclass is held online to ensure accessibility wherever you are based.
        </p>
      </details>
    </li>
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >When is the next Masterclass and where is it held?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The next Masterclass will be online at the end of October. Register your interest to secure a spot. All the information will follow.
        </p>
      </details>
    </li> 
    <li class="">
      <details class="open:bg-primary bg-accordionbg ring-accordionborder ring-1 rounded-lg p-4 ">
        <summary class="font-medium cursor-pointer"
          >What is the waiting list for?
        </summary>
        <p class="font-hindlight text-md mt-4 ">
          The waiting list is a way to register your interest to  learn more about the EmpowerMe Collective and if you wish to, join once a spot opens up. Soon after you join the list, we will connect and provide you with the next steps.
        </p>
      </details>
    </li>
  </ul>
</section>
