@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'monserrat-black';
  src: url('/empowerme-website/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monserrat-regular';
  src: url('/empowerme-website/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monserrat-bold';
  src: url('/empowerme-website/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monserrat-semibold';
  src: url('/empowerme-website/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monserrat-medium';
  src: url('/empowerme-website/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'hindlight';
  src: url('/fonts/Hind-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monserrat';
  src: url('/empowerme-website/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 
@layer base {
  body{
     
    background-color: #F2F2F2;
  }
   
   
  p{
    font-family: 'monserrat-regular', sans-serif;
  }
  details {
  }
  summary {
    list-style: none;  
  }
  @media only screen and (min-width: 600px) {
    summary { 
      background: url("/empowerme-website/plus.svg") no-repeat 14px 50%; 
    }
  }
}

@layer components {
  .btn-primary {
    @apply bg-five text-primary hover:bg-[#3283ca] focus:ring-4 focus:ring-blue-300 font-medium rounded-sm text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-[#3283ca];
  }
  .btn-secondary {
    @apply bg-primary text-five border-solid border-primary border-2 hover:bg-[#3283ca] hover:text-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-[#3283ca];
  }
  .btn-tertiary {
    @apply text-primary border-solid border-primary border-2 hover:bg-[#3283ca] hover:text-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-[#3283ca];
  }
  .icons {
    @apply text-white bg-[#355E82] fill-[#355E82];
  }
  .icons-footer {
    @apply text-[#355E82] bg-white fill-white;
  }
  .footer {
    @apply grid grid-flow-row md:grid-cols-4 gap-4 p-16  text-tenth bg-eleventh ;
  }
  .social-links {
    @apply flex flex-row justify-center gap-6;
  }
}
