@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl text-[#5C6173];
  }
  h2 {
    @apply text-xl text-[#5C6173];
  }
  h3 {
    @apply text-2xl text-[#5C6173];
  }
  h4 {
    @apply text-xl text-[#5C6173];
  }
  details {
  }
  summary {
    list-style: none;  
  }
  @media only screen and (min-width: 600px) {
    summary { 
      background: url("/empowerme-website/plus.svg") no-repeat 14px 50%; 
    }
  }
}

@layer components {
  .btn-primary {
    @apply text-white bg-[#355E82] hover:bg-[#3283ca] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-[#3283ca];
  }
  .btn-secundary {
    @apply text-[#355E82] bg-white border-solid border-[#355E82] border-2 hover:bg-[#3283ca] hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-[#3283ca];
  }
  .icons {
    @apply text-white bg-[#355E82] fill-[#355E82];
  }
  .icons-footer {
    @apply text-[#355E82] bg-white fill-white;
  }
  .footer {
    @apply flex flex-col p-16 gap-10 text-white bg-[#355E82] text-center;
  }
  .social-links {
    @apply flex flex-row justify-center gap-6;
  }
}
