@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "monserrat-black";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monserrat-regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserratbold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monserrat-semibold";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monserrat-medium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monserratthin";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hindlight";
  src: url("/fonts/Hind-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hindmedium";
  src: url("/fonts/Hind-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "licoriseregular";
  src: url("/fonts/Licorice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GreatVibesRegular";
  src: url("/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@layer base {
  body {
    background-color: #f2f2f2;
  }

  p {
    font-family: "monserrat-regular", sans-serif;
  }
  details {
  }
  summary {
    list-style: none;
  }
  @media only screen and (min-width: 600px) {
    summary {
    }
  }
}

@layer components {
  .h1 {
    @apply text-4xl font-bold text-secondary;
  }
  .h2 {
    @apply text-4xl md:text-5xl font-montserratbold font-bold text-secondary;
  }
  .h3 {
    @apply text-xl  font-bold text-secondary;
  }
  .btn-primary {
    @apply bg-five text-primary border-five border-2 hover:border-five hover:bg-primary hover:text-five focus:ring-4 focus:ring-five font-medium 
    rounded-md text-sm px-5 py-2 md:py-2.5 me-2   focus:outline-none;
  }
  .btn-secondary {
    @apply bg-primary text-five border-solid border-primary ring-primary ring-2 border-2 hover:bg-five hover:text-primary hover:border-five
    focus:ring-4 focus:ring-five font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 
       focus:outline-none;
  }
  .btn-tertiary {
    @apply text-primary border-solid border-primary border-2   hover:bg-five hover:border-primary hover:text-primary focus:ring-4
     focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 mb-2   focus:outline-none;
  }
  .btn-fourth {
    @apply text-tenth border-solid border-tenth border-2 hover:bg-tenth hover:text-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2 md:py-2  me-2     focus:outline-none;
  }
  .btn-fifth {
    @apply bg-primary text-tenth border-tenth border-2 hover:border-five hover:bg-five hover:text-primary focus:ring-4 focus:ring-five font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2   focus:outline-none;
  }
  .btn-sixth {
    @apply bg-primary text-tenth border-solid border-primary ring-primary ring-2 border-2 hover:bg-tenth hover:text-primary hover:border-tenth
    focus:ring-4 focus:ring-tenth font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 
       focus:outline-none;
  }
  .btn-seventh {
    @apply bg-tenth text-primary border-solid border-primary ring-primary ring-2 border-2 hover:bg-primary hover:text-tenth hover:border-tenth
    focus:ring-4 focus:ring-primary font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 
       focus:outline-none;
  }
    .btn-eighth {
    @apply bg-primary text-five border-solid border-five ring-primary ring-2 border-2 hover:bg-five hover:text-primary hover:border-five
    focus:ring-4 focus:ring-five font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 
       focus:outline-none;
  }
  .quote {
    @apply font-montserratbold text-2xl md:text-3xl text-center mx-auto md:w-1/2 ;
  }
  .quote-author {
    @apply font-hindmedium leading-8 text-center mx-auto md:w-1/2 px-4 md:p-0;
  }
  .icons {
    @apply text-white bg-[#355E82] fill-[#355E82];
  }
  .icons-footer {
    @apply text-[#355E82] bg-white fill-white;
  }
  .footer {
    @apply grid grid-flow-row md:grid-cols-3 items-start justify-center gap-8 md:gap-16 md:px-24 md:py-16 p-8 py-16  text-tenth bg-eleventh text-sm;
  }
  .social-links {
    @apply flex flex-row justify-center gap-6;
  }
}
