---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"; 
import Seo from "../components/Seo.astro";
import siteData from "../data/siteData.json"; 
import "../base.css";

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=300, s-maxage=3600"
);
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="var(--primary-color)" />
    <link rel="icon" href="favicon.svg" />
    <link rel="preload" href="/images/cover-bg.webp" as="image" />
    <link rel="preload" href="/images/quote-bg.png" as="image" />
    <link
      rel="preload"
      href="/fonts/Montserrat-Bold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />

    <title>{siteData.title}</title>
    <Seo {siteData} />
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
